<h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
<form>
    <!-- <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
        <span class="hoverOnPrice" style="font-weight: bold;" (click)="getAllProds()">All Prices</span>
    </div> -->
    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
        *ngFor="let price of pricesArray; let i=index">
        <span class="hoverOnPrice" [ngClass]="{'selected-color' : i==selectedItem}"
            (click)="getPriceByFilter(price.range,i)">{{price.price}}</span>
    </div>
</form>