<!-- <div class="row px-xl-5 pb-3" style="display: contents;">
    [ngClass]="{'selected-color' : i==selectedItem}" -->
<!-- <div *ngFor="let productList of productList;let i=index" class="col-3" id="category"> -->
<div *ngFor="let productList of productList;let i=index" class="col-3" id="targetRed">
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="{{productList.imgSrc}}" alt="Failed" style="height: 400px;"
                routerLink="/shopDetails/{{productList.id}}">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">{{productList.name}}</h6>
            <div class="d-flex justify-content-center">
                <h6>${{productList.price}}</h6>
                <h6 class="text-muted ml-2"><del>${{productList.price}}</del></h6>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
            <div class="btn btn-sm text-dark p-0" routerLink="/shopDetails/{{productList.id}}"><i
                    class="fas fa-eye text-primary mr-1"></i>View
                Detail</div>
            <div class="btn btn-sm text-dark p-0" (click)="addProduct(productList,i)">
                <span [ngClass]=" { 'hide_btn' : selectedItem==i} ">
                    <i class="fas fa-shopping-cart text-primary mr-1"></i>
                    Add To Cart
                </span>
                <span class="hide_default" [ngClass]=" { 'show_btn' : selectedItem==i } " (click)="goToCart()">
                    <i class="fa-solid fa-arrow-right text-primary mr-1"></i>
                    Go To Cart
                </span>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->