<div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
        <img class="img-fluid w-100" src="{{product.imgSrc}}" alt="Failed" style="height: 400px;">
    </div>

    <div class="col-lg-7 pb-5">
        <h3 class="font-weight-semi-bold">{{product.name}}</h3>
        <div class="d-flex mb-3">
            <div class="text-primary mr-2">
                <small class="fas fa-star"></small>
                <small class="fas fa-star"></small>
                <small class="fas fa-star"></small>
                <small class="fas fa-star-half-alt"></small>
                <small class="far fa-star"></small>
            </div>
            <small class="pt-1">(50 Reviews)</small>
        </div>
        <h3 class="font-weight-semi-bold mb-4">${{product.price}}</h3>
        <p class="mb-4">Volup erat ipsum diam elitr rebum et dolor. Est nonumy elitr erat diam stet sit clita ea. Sanc
            invidunt ipsum et, labore clita lorem magna lorem ut. Erat lorem duo dolor no sea nonumy. Accus labore stet,
            est lorem sit diam sea et justo, amet at lorem et eirmod ipsum diam et rebum kasd rebum.</p>
        <!-- <div class="d-flex mb-3">
            <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
            <form>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-1" name="size">
                    <label class="custom-control-label" for="size-1">XS</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-2" name="size">
                    <label class="custom-control-label" for="size-2">S</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-3" name="size">
                    <label class="custom-control-label" for="size-3">M</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-4" name="size">
                    <label class="custom-control-label" for="size-4">L</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-5" name="size">
                    <label class="custom-control-label" for="size-5">XL</label>
                </div>
            </form>
        </div>
        <div class="d-flex mb-4">
            <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
            <form>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="color-1" name="color">
                    <label class="custom-control-label" for="color-1">Black</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="color-2" name="color">
                    <label class="custom-control-label" for="color-2">White</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="color-3" name="color">
                    <label class="custom-control-label" for="color-3">Red</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="color-4" name="color">
                    <label class="custom-control-label" for="color-4">Blue</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="color-5" name="color">
                    <label class="custom-control-label" for="color-5">Green</label>
                </div>
            </form>
        </div> -->
        <div class="d-flex align-items-center mb-4 pt-2">
            <button class="btn btn-primary px-3" (click)="addProduct(productList)"><i
                    class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
        </div>
        <div class="d-flex pt-2">
            <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
            <div class="d-inline-flex">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->